@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --width-progect: 90rem;
}

@media (width < 90rem) {
  :root {
    --width-progect: 40rem;
  }
  .image {
    display: none;
  }
  body {
    display: flex;
    justify-content: center;
  }
  main {
    width: 60rem;
  }
}

body {
  overflow-x: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: inline-flex;
  border-radius: 2.75em;
  background-color: white;
  justify-content: space-between;
  width: var(--width-progect);
  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
}
.label {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  p {
    color: #000;
    font-weight: 500;
  }
}

.nftAccess {
  display: inline-flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-top: 9.375rem;
  margin-left: 8.75rem;
}

.infoContent {
  h1 {
    color: #344054;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 0.313rem;
  }

  p {
    color: #667085;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
  }
}


input:invalid {
  border: 2px solid red;
}

table {
  display: flex;
  align-items: start;
}

tr {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

label {
  color: #344054;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

input[type=email],
input[type=password] {
  padding: 0.625rem 0.875rem;
  width: 20.625rem;
  /*color: #667085;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  border: 0.063rem solid #D0D5DD;
}

.secondLineTable,
.checkBoxLine,
.btnGoogles {
  padding-top: 1.25rem;
}

.checkBoxLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}

.rememberMe {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

.btn {
  width: 100%;
  margin-top: 2.25rem;
  /*gap: 0.625rem;*/

  button {
    padding: 0.75rem 9.625rem;
    background-color: #5429FF;
    border: none;
    border-radius: 0.5rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
  }
}

.size-forBtnGoogle {
  width: 100%;
}

.btnGoogle {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.625rem 5.625rem;
  border: 0.063rem solid #D0D5DD;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: #FFF;
}

.newAccount {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  p {
    color: #344054;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.footer {
  padding-top: 10rem;
  color: #667085;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem;
}

.image {
  border-radius: 2.5rem;
  width: 46rem;
  height: 54.0625rem;
  background-color: #CBCCE8;
}
